<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617058018552-sjfgtcrp57o4iap5nd9119300ime7l7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617058018552-sjfgtcrp57o4iap5nd9119300ime7l7k</string>
	<key>API_KEY</key>
	<string>AIzaSyDl1RH6SsRFZQ65V42q-LEu3fuxtzVm7V0</string>
	<key>GCM_SENDER_ID</key>
	<string>617058018552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-fcfe3</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-fcfe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617058018552:ios:332c091d81619a1287070d</string>
</dict>
</plist>